body{
background-color:#adfc03
}
.grid{
width:600px;
height:500px;
margin: 0 auto;
background-color:#fff;
padding:10px 50px 50px 50px;
border-radius: 50px;
border: 2px solid #cbcbcb;
box-shadow:10px 15px 5px #cbcbcb;
}

.grid h1{
font-family: "sans-serif";
background-color: #03ecfc;
font-size: 60px;
text-align: center;
color: #ffffff
padding: 2px 0px;
border-radius:50px;
}


#score{ 
color: #03ecfc;
text-align:center;
font-size: 30px;
}

.grid#question{
font-family:"monospace";
fontsize: 30px;
color:#03ecfc;
}


.buttons{
margin-top: 30px;
}
#bt0,#bt1,#bt2,#bt3{
background-color: #510b84;
width:250px;
font-size: 20px; 
color:#fff;
border: 1px solid #1d3c6a;
border-radius: 50px;
margin: 10px 40px 10px 0px;
padding: 10px 10px;
}


#bt0:hover,#bt1:hover,#bt2:hover,#bt3:hover{
cursor:pointer;
background-color: #03ecfc;
}

#bt0: focus, #bt1: focus,#bt2: focus,#bt3: focus {
outline: 0;
}



#progress {
color: #2b2b2b;
font-size: 10 px;
} 



